!.gitignore

# Capr
.Rhistory
.Rproj.user
.DS_Store
errorReportSql.txt
*.log
/Meta/
work/*
scratch/
inst/doc

# project-specific
alphabetically_sort.py
inst/config/*
!inst/config/*-sample.yml

inst/extdata/**/*

!inst/extdata/phems_variables_by_uc
!inst/extdata/phems_variables_by_uc/*
!inst/extdata/phems_variables_by_uc/*/*

!inst/extdata/standardness

!inst/extdata/json
inst/extdata/json/*

!inst/extdata/standard_concepts
inst/extdata/standard_concepts/*

!inst/extdata/vocabularies
inst/extdata/vocabularies/*

R/process_ucs.R

!*.gitkeep

renv